<!DOCTYPE html>
<html>
<title>BliblioTec</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
body {font-family: "Roboto", sans-serif}
.w3-bar-block .w3-bar-item{padding:16px;font-weight:bold}
body,td,th {
	font-family: Roboto, sans-serif;
}
</style>
<body>

<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
  <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="#">BLIBLIOTEC</a>
  <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>
  <a class="w3-bar-item w3-button w3-indigo" href="#">Home</a>
  <div>
    <a class="w3-bar-item w3-button" onclick="myAccordion('demo')" href="javascript:void(0)">Cadastros <i class="fa fa-caret-down"></i></a>
    <div id="demo" class="w3-hide">
      <a class="w3-bar-item w3-button" href="#">Usuário</a>
      <a class="w3-bar-item w3-button" href="#">Link</a>
      <a class="w3-bar-item w3-button" href="#">Link</a>
    </div>
  </div>
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-container w3-top w3-theme w3-large">
  <p><i class="fa fa-bars w3-button w3-indigo w3-hide-large w3-xlarge" onclick="w3_open()"></i>
</div>

<div id="app">
    <header class="w3-container w3-theme" style="padding:64px 32px">
      <h1 class="w3-xxxlarge">{{ title }}</h1>
    </header>
    
    <div class="w3-container" style="padding:32px">
    
    <button onclick="document.getElementById('cadastrarModal').style.display='block'"
class="w3-button w3-border w3-border-indigo">Cadastrar</button>
    
  <table class="w3-table">
    <tr>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>RG</th>
      <th>Sexo</th>
      <th>Endereço</th>
      <th>Data de nascimento</th>
      <th>Email</th>
      <th>Telefone</th>
    </tr>
    <tr v-for="usuario in usuarios">
      <td><button class="w3-button w3-border w3-border-indigo" @click="alterar(usuario)">Alterar</button>
      <button class="w3-button w3-border w3-border-indigo" @click="excluir(usuario)">Excluir</button></td>
      <td>{{usuario.id}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.cpf}}</td>
      <td>{{usuario.rg}}</td>
      <td>{{usuario.sexo}}</td>
      <td>{{usuario.endereco}}</td>
      <td>{{usuario.dataNasc}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.telefone}}</td>
    </tr>
  </table>
  
  <!-- The Modal -->
<div id="cadastrarModal" class="w3-modal">
  <div class="w3-modal-content">
  	<header class="w3-container w3-indigo"> 
          <span onclick="document.getElementById('cadastrarModal').style.display='none'" 
          class="w3-button w3-display-topright">&times;</span>
          <h2>Formulário</h2>
      </header>
      
       <form class="w3-container" id="formUsuario">
			<input type="hidden" v-model="usuario.id">
            <label>Nome</label>
            <input class="w3-input" type="text" v-model="usuario.nome">
            
            <label>CPF</label>
            <input class="w3-input" type="text" v-model="usuario.cpf">

            <label>RG</label>
            <input class="w3-input" type="text" v-model="usuario.rg">

            <label>Sexo</label>
            <input class="w3-input" type="text" v-model="usuario.sexo">

            <label>Endereco</label>
            <input class="w3-input" type="text" v-model="usuario.endereco">

            <label>DataNasc</label>
            <input class="w3-input" type="text" v-model="usuario.dataNasc">

            <label>Email</label>
            <input class="w3-input" type="text" v-model="usuario.email">

            <label>Telefone</label>
            <input class="w3-input" type="text" v-model="usuario.telefone">
        
      </form>
      <footer class="w3-container">
      	<button class="w3-button w3-border w3-border-indigo" @click="salvar">Salvar</button>
      </footer>
  </div>
</div>
    
    
    </div>
</div>
<footer class="w3-container w3-theme" style="padding:32px">
  <p>Copyright© 2018 Blibliotec
Todos os direitos reservados.</p>
</footer>
     
</div>

<script>
// Open and close the sidebar on medium and small screens
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Change style of top container on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
        document.getElementById("myIntro").classList.add("w3-show-inline-block");
    } else {
        document.getElementById("myIntro").classList.remove("w3-show-inline-block");
        document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
    }
}

// Accordions
function myAccordion(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme", "");
    }
}
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
<script type="text/javascript" src="js/index.js"></script>    
</body>
</html> 
