<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de registro</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Ir para página de Login</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Formulário de registro</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"
                               class="validation-message"></label>
                        <input type="number" th:field="*{cpf}"
                               placeholder="CPF" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}"
                               class="validation-message"></label>
                        <input type="number" th:field="*{rg}"
                               placeholder="RG" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"
                               class="validation-message"></label>
                        <label class="checkbox-inline">
                            <input type="checkbox" th:field="*{sexo}" id="inlineCheckbox1" value="masculino"> Masculino
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" th:field="*{sexo}" id="inlineCheckbox2" value="feminino"> Feminino
                        </label>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{endereco}"
                               placeholder="Endereco" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"
                               class="validation-message"></label>
                        <input type="date" th:field="*{dataNascimento}"
                               placeholder="Nascimento" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"
                               class="validation-message"></label>
                        <input type="tel" th:field="*{telefone}"
                               placeholder="Telefone" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('tipoPessoa')}" th:errors="*{tipoPessoa}"
                               class="validation-message"></label>
                        <div class="checkbox-inline">
                            <input type="checkbox" th:field="*{tipoPessoa}" value="bibliotecaria" id="checkbox-1">
                            <label for="checkbox-1">Bibliotecaria</label>
                        </div>
                        <div class="checkbox-inline">
                            <input type="checkbox" th:field="*{tipoPessoa}" value="balconista" id="checkbox-2">
                            <label for="checkbox-2">Balconista</label>
                        </div>
                        <div class="checkbox-inline">
                            <input type="checkbox" th:field="*{tipoPessoa}" value="academico" id="checkbox-3">
                            <label for="checkbox-3">Academico</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Registar Usuário</button>
                    </div>
                </div>

                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

            </form>
        </div>
    </div>
</div>

</body>
</html>